.revenu{
    margin: 20px;
    flex:2;
    flex-direction: row;
    padding:20px;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
 }
 .chartTitle{
    margin-bottom: 20px;
    margin-top: 5px;
 }