@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;600&display=swap');
.user{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    
  }
  .header{
    
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-family: 'Lobster', cursive;
    .hello{
      color:rgb(97, 97, 247); 
    }
  }
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
.edit{
    margin-right: 10px; 
     
}
.delete{
    margin-right: 10px;
    color: red;
}